// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 


body {
  background: #f7f7f7;
background-color: #f7f7f7!important;

}
.header{

   padding:0 !important;
 .images{
  padding-right:0 !important;
  padding-left:0 !important;
  padding-top:25px;
  
 
  .this-wed{
    width:10%;
    padding-right:0!important;
  }
 
  }
}
  .sub-header{
  .top-links{
    padding-bottom:0 !important;
 
    .links{
      width:500px;
      margin:0 auto;
   
      a{
        font-size:11px;
        font-family:Roboto,Helvetica,Arial,Sans-Serif;
        text-transform:uppercase;
        font-weight: 700;

      }
    }

  }

    


    }
    
    .header-super{
     
      .columns{
        padding-right:0 !important;
        padding-left:0 !important;
        padding-top:0 !important;
        padding-bottom: 0.10px !important;
        .supper-sales{
          width:180%;
        }
        }

      
    }

    .items-top{
      .columns{
        padding:0 !important;

        .supper-sales{
          width:150%
        }

    }

    }
   
    
    .box-6-pictures{
      .columns{
        padding:0 !important;

        .supper-sales{
          width:150%
        }

    }

    }
   
   
  .electronics-items{
    padding:20px;
    .electronics-container{
      
      background: #f7f7f7;
background-color: #f7f7f7!important;
     

  
     
    }

    .tablet1{
      
      line-height:30px;
      padding:10px;
    border-collapse: separate;
    border-color: grey;
    border-spacing: 2px;


     
      .discount{
        border:2px solid #ff7f00;;
        border-radius:5px;
        padding-left:5px;
        padding-right:5px;
        padding-top:2px;
        padding-bottom:2px;
        color:#ff7f00;

        
      }
      .line-row{
        .hr1{
          border-bottom:1px solid #eeeeee;
          width:95%;
        }
      }
     
     
      
      .tablet-image{
        width:60%;
        padding-top:10px;
        padding-bottom:7px;
     
      }
     
      .unicorn{

    
        font-size:13px;
        color:#282828;
        text-align:center;
        font-weight: 600;
        font-family: Roboto,Helvetica,Arial,Sans-Serif;

}

      .hot-sale{
        color: #727272;
    font-size: 11px;
    font-family: Roboto,Helvetica,Arial,Sans-Serif;
    text-align:center;
    line-height: 18px;
 
    
}
.price{

  
    text-align:center;
    color: #333333;
    font-size: 13px;
    font-family: Roboto,Helvetica,Arial,Sans-Serif;
    font-weight:700;
    line-height:30px;
   
  
    
  
}


    

  
  
 
  
}
    
       

      }


      .row-selected{
        .selected-just{
          font-size: 16px;
          padding-top:30px;
          .selected{
           
          color:  #8f96a0;
          font-weight:normal;
      
          font-family: Roboto,Helvetica,Arial,Sans-Serif;
      
          }
    
          
        }
      
      }
         
     
      .footer{
        background: #f7f7f7;
        background-color: #f7f7f7!important;
      
        font-size:50px;
        .footer-top{
         

          .footer-header{
            h6{
             text-transform:capitalize;
              color: #8f96a0;
              font-size: 16px;
              font-family: Roboto,Helvetica,Arial,Sans-Serif;
              padding-bottom:10px;
            }
            

          }
        }

 
        

      }
      
    
  .footer-animations{
   
        
  .footer-columns{
    margin: 0 auto;
    width: 50%;
    text-align: justify;
.footer-pictures{

 .footer-images{
   .one{
    font-size: 12px !important;
    font-family: Roboto,Helvetica,Arial,Sans-Serif;
    color: #727272;
    line-height:50px;
  
   }
 }
 

}
    img{
      width:32px;
    }

  
    }  
 
  }

      
   

  
      
    

  
 
    .for-more-questions{
     
    
      font-size:11px;

      .hear-from-us{
        display:block;
        color: #282828;
        line-height:1.5;
        font-size:11px;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  
    

   
.more-questions{
  color: #282828;
  line-height:1.5;
  font-size:11px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;

}
.Customer-service{
  color:#282828;
        line-height:1.5;
        font-size:11px;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 a{
  text-decoration: underline;
}
}
.click-here{
  color: #282828;
        line-height:1.5;
        font-size:11px;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
a{
  text-decoration: underline;
}
      }
      
    
 
       
         
         

      
    }
     
       