<container >

        <row class="footer">

      
                <columns class="footer-top">
                    <row>
                            <columns class="footer-header">
                                <h6 class="text-center">jumia World</h6>
                            </columns>
             
                    </row>
                    
                       
                   
                            <row class="footer-animations">
                                <columns large="2"></columns>
                                <columns large="10" class="footer-columns" >
                                    
                                      <row class="footer-pictures">
                                          <columns class="footer-images" small="2" large="2">
                                            <a href="#"><img src="{{root}}assets\img\jumia-images\footer-star.png" >
                                                <span class="one">One</span>
                                            </a>
                                            </columns>
                                            <columns  class="footer-images"small="2" large="2">
                                                <a href="#"><img src="{{root}}assets\img\jumia-images\footer travel.png" >
                                                    <span class="one">travel</span>
                                                </a>
                                            </columns>
                                            <columns class="footer-images" small="2" large="2">
                                                <a href="#"><img src="{{root}}assets\img\jumia-images\footer-food.png" >
                                                    <span class="one">Food</span>
                                                </a>
                                            </columns>
                                            <columns class="footer-images" small="2" large="2">
                                                <a href="#"><img src="{{root}}assets\img\jumia-images\footer-deals.png" >
                                                    <span class="one">deals</span>
                                                </a>
                                            </columns>
                                                <columns class="footer-images" small="2" large="2">
                                                    <a href="#"><img src="{{root}}assets\img\jumia-images\footer-car.png" >
                                                        <span class="one">Car</span>
                                                    </a>
                                                    
                                                </columns>
                                                <columns class="footer-images" small="2" large="2">
                                                    <a href="#"><img src="{{root}}assets\img\jumia-images\footer-house.png" >
                                                        <span class="one">House</span>
                                                    </a>
                                                    
                                                </columns>
                                        
                                      </row>
                                    </columns>
                                    <columns large="2"></columns>
                            <row class="for-more-questions">
                           
                                <columns class="hear-from-us"small="8" large="8">
                                 <span class="more-questions">We would like to hear from you. For any questions, suggestions or comments, please contact our<br></span>
      <span class="Customer-service">Customer Service Team at 01888 1100 / 0700 600 0000 or via our <a href="#">contact form.</a></span><br>
      <span class="click-here"><a href="#">Click here</a> if you no longer want to receive this email.</span>
                                </columns>
                               
                            </row>
                       
                </columns>
      
        </row>
</container>
