<container>


    <row class="header">
      <columns class="images" small="6"  large="12" valign="bottom">
        <img src="{{root}}assets\img\jumia-images\this -wednesday-header.gif" class="this-wed">
      </columns>
    </row>
    <row>
        <columns></columns>
        <columns small="12">
          <center>
              <img src="{{root}}assets\img\jumia-images\jumia-logo-basket.png">
          </center>
            
        </columns>
        <columns></columns>

    </row>
    <center>
     
        <row class="sub-header">
            <columns class="top-links">
              <row class="links">
                  <columns  small="3" large="2">
                    <a href="#">Fashion</a>
                    </columns>
                    <columns small="3" large="2">
                      <a href="#">Fashion</a>
                    </columns>
                    <columns small="3" large="2">
                      <a href="#">Fashion</a>
                    </columns>
                    <columns small="3" large="2">
                      <a href="#">Fashion</a>
                    </columns>
                
              </row>
            </columns>
          
          </row>
      

    </center>
   
    


</container>
  